In [84]:
import os

import pandas as pd
import Python as py

In [85]:
root = os.getcwd()
df_scheduled = pd.read_csv(root + "/data/scheduled_loan_repayments.csv")
df_actual = pd.read_csv(root + "/data/actual_loan_repayments.csv")
df_balances = py.calculate_df_balances(df_scheduled, df_actual)

In [39]:
totalLoans = df_balances["LoanID"].nunique()
loanTracker = []
numDefaults1 = 0

for index, row in df_balances.iterrows():
    if(row["ActualRepayment"] < row["ScheduledRepayment"]):
        if(row["LoanID"] not in loanTracker):
            numDefaults1 += 1
            loanTracker.append(row["LoanID"])

default_rate_percent = (numDefaults1 / (totalLoans * 1.0)) * 100
print(default_rate_percent)

15.0

In [31]:
display(df_balances)

,RepaymentID,LoanID,Month,ActualRepayment,LoanAmount,ScheduledRepayment,LoanBalanceStart,LoanBalanceEnd,InterestPayment
0,544.0,1,1,2399.54,52000.0,2399.54,52000.00,50033.79,433.33
1,1313.0,1,2,2399.54,52000.0,2399.54,50033.79,48051.20,416.95
2,2551.0,1,3,2399.54,52000.0,2399.54,48051.20,46052.09,400.43
3,3636.0,1,4,2399.54,52000.0,2399.54,46052.09,44036.32,383.77
4,4300.0,1,5,2399.54,52000.0,2399.54,44036.32,42003.74,366.97
...,...,...,...,...,...,...,...,...,...
11995,7973.0,1000,8,2768.70,60000.0,2768.70,43716.52,41312.12,364.30
11996,8115.0,1000,9,2768.70,60000.0,2768.70,41312.12,38887.69,344.27
11997,9867.0,1000,10,2768.70,60000.0,2768.70,38887.69,36443.05,324.06
11998,10128.0,1000,11,2768.70,60000.0,2768.70,36443.05,33978.05,303.69
11999,11719.0,1000,12,2768.70,60000.0,2768.70,33978.05,31492.50,283.15

In [80]:
totalLoans = df_balances["LoanID"].nunique()
loanTracker = 0
sumPaid = 0
sumOwed = 0

final_df = df_balances.sort_values(by=['LoanID'], ascending=False)
loans = df_balances["LoanID"].unique()
print(loans)

for l in loans:
    sumPaid = df_balances.loc[df_balances['LoanID'] == l, 'ActualRepayment'].sum()
    sumOwed = df_balances.loc[df_balances['LoanID'] == l, 'ScheduledRepayment'].sum()

    if((sumPaid / (sumOwed * 1.0)) < 0.85):
        loanTracker += 1

    sumPaid = 0
    sumOwed = 0

default_rate_percent = ((loanTracker) / totalLoans * 1.0) * 100
print(default_rate_percent)

[   1    2    3    4    5    6    7    8    9   10   11   12   13   14
   15   16   17   18   19   20   21   22   23   24   25   26   27   28
   29   30   31   32   33   34   35   36   37   38   39   40   41   42
   43   44   45   46   47   48   49   50   51   52   53   54   55   56
   57   58   59   60   61   62   63   64   65   66   67   68   69   70
   71   72   73   74   75   76   77   78   79   80   81   82   83   84
   85   86   87   88   89   90   91   92   93   94   95   96   97   98
   99  100  101  102  103  104  105  106  107  108  109  110  111  112
  113  114  115  116  117  118  119  120  121  122  123  124  125  126
  127  128  129  130  131  132  133  134  135  136  137  138  139  140
  141  142  143  144  145  146  147  148  149  150  151  152  153  154
  155  156  157  158  159  160  161  162  163  164  165  166  167  168
  169  170  171  172  173  174  175  176  177  178  179  180  181  182
  183  184  185  186  187  188  189  190  191  192  193  194  195  196
  197  198  199  200  201  202  203  204  205  206  207  208  209  210
  211  212  213  214  215  216  217  218  219  220  221  222  223  224
  225  226  227  228  229  230  231  232  233  234  235  236  237  238
  239  240  241  242  243  244  245  246  247  248  249  250  251  252
  253  254  255  256  257  258  259  260  261  262  263  264  265  266
  267  268  269  270  271  272  273  274  275  276  277  278  279  280
  281  282  283  284  285  286  287  288  289  290  291  292  293  294
  295  296  297  298  299  300  301  302  303  304  305  306  307  308
  309  310  311  312  313  314  315  316  317  318  319  320  321  322
  323  324  325  326  327  328  329  330  331  332  333  334  335  336
  337  338  339  340  341  342  343  344  345  346  347  348  349  350
  351  352  353  354  355  356  357  358  359  360  361  362  363  364
  365  366  367  368  369  370  371  372  373  374  375  376  377  378
  379  380  381  382  383  384  385  386  387  388  389  390  391  392
  393  394  395  396  397  398  399  400  401  402  403  404  405  406
  407  408  409  410  411  412  413  414  415  416  417  418  419  420
  421  422  423  424  425  426  427  428  429  430  431  432  433  434
  435  436  437  438  439  440  441  442  443  444  445  446  447  448
  449  450  451  452  453  454  455  456  457  458  459  460  461  462
  463  464  465  466  467  468  469  470  471  472  473  474  475  476
  477  478  479  480  481  482  483  484  485  486  487  488  489  490
  491  492  493  494  495  496  497  498  499  500  501  502  503  504
  505  506  507  508  509  510  511  512  513  514  515  516  517  518
  519  520  521  522  523  524  525  526  527  528  529  530  531  532
  533  534  535  536  537  538  539  540  541  542  543  544  545  546
  547  548  549  550  551  552  553  554  555  556  557  558  559  560
  561  562  563  564  565  566  567  568  569  570  571  572  573  574
  575  576  577  578  579  580  581  582  583  584  585  586  587  588
  589  590  591  592  593  594  595  596  597  598  599  600  601  602
  603  604  605  606  607  608  609  610  611  612  613  614  615  616
  617  618  619  620  621  622  623  624  625  626  627  628  629  630
  631  632  633  634  635  636  637  638  639  640  641  642  643  644
  645  646  647  648  649  650  651  652  653  654  655  656  657  658
  659  660  661  662  663  664  665  666  667  668  669  670  671  672
  673  674  675  676  677  678  679  680  681  682  683  684  685  686
  687  688  689  690  691  692  693  694  695  696  697  698  699  700
  701  702  703  704  705  706  707  708  709  710  711  712  713  714
  715  716  717  718  719  720  721  722  723  724  725  726  727  728
  729  730  731  732  733  734  735  736  737  738  739  740  741  742
  743  744  745  746  747  748  749  750  751  752  753  754  755  756
  757  758  759  760  761  762  763  764  765  766  767  768  769  770
  771  772  773  774  775  776  777  778  779  780  781  782  783  784
  785  786  787  788  789  790  791  792  793  794  795  796  797  798
  799  800  801  802  803  804  805  806  807  808  809  810  811  812
  813  814  815  816  817  818  819  820  821  822  823  824  825  826
  827  828  829  830  831  832  833  834  835  836  837  838  839  840
  841  842  843  844  845  846  847  848  849  850  851  852  853  854
  855  856  857  858  859  860  861  862  863  864  865  866  867  868
  869  870  871  872  873  874  875  876  877  878  879  880  881  882
  883  884  885  886  887  888  889  890  891  892  893  894  895  896
  897  898  899  900  901  902  903  904  905  906  907  908  909  910
  911  912  913  914  915  916  917  918  919  920  921  922  923  924
  925  926  927  928  929  930  931  932  933  934  935  936  937  938
  939  940  941  942  943  944  945  946  947  948  949  950  951  952
  953  954  955  956  957  958  959  960  961  962  963  964  965  966
  967  968  969  970  971  972  973  974  975  976  977  978  979  980
  981  982  983  984  985  986  987  988  989  990  991  992  993  994
  995  996  997  998  999 1000]
1.2

In [89]:
display(df_balances)
display(df_scheduled)
totalLoans = df_balances["LoanID"].nunique()
loanTracker = 0
sumPaid = 0
sumOwed = 0

final_df = df_balances.sort_values(by=['LoanID'], ascending=False)
loans = df_balances["LoanID"].unique()
print(loans)

for l in loans:
    sumPaid = df_balances.loc[df_balances['LoanID'] == l, 'ActualRepayment'].sum()
    sumOwed = df_balances.loc[df_balances['LoanID'] == l, 'ScheduledRepayment'].sum()

    if((sumPaid / (sumOwed * 1.0)) < 0.85):
        loanTracker += 1

    sumPaid = 0
    sumOwed = 0

default_rate_percent = ((loanTracker) / totalLoans * 1.0) * 100

,RepaymentID,LoanID,Month,ActualRepayment,LoanAmount,ScheduledRepayment,LoanBalanceStart,LoanBalanceEnd,InterestPayment
0,544.0,1,1,2399.54,52000.0,2399.54,52000.00,50033.79,433.33
1,1313.0,1,2,2399.54,52000.0,2399.54,50033.79,48051.20,416.95
2,2551.0,1,3,2399.54,52000.0,2399.54,48051.20,46052.09,400.43
3,3636.0,1,4,2399.54,52000.0,2399.54,46052.09,44036.32,383.77
4,4300.0,1,5,2399.54,52000.0,2399.54,44036.32,42003.74,366.97
...,...,...,...,...,...,...,...,...,...
11995,7973.0,1000,8,2768.70,60000.0,2768.70,43716.52,41312.12,364.30
11996,8115.0,1000,9,2768.70,60000.0,2768.70,41312.12,38887.69,344.27
11997,9867.0,1000,10,2768.70,60000.0,2768.70,38887.69,36443.05,324.06
11998,10128.0,1000,11,2768.70,60000.0,2768.70,36443.05,33978.05,303.69
11999,11719.0,1000,12,2768.70,60000.0,2768.70,33978.05,31492.50,283.15

     LoanID  LoanAmount  ScheduledRepayment
0         1     52000.0             2399.54
1         2    115000.0             5306.67
2         3     91000.0             4199.19
3         4     77000.0             3553.16
4         5     29000.0             1338.20
..      ...         ...                 ...
995     996     22000.0             1015.19
996     997    111000.0             5122.09
997     998     27000.0             1245.91
998     999    115000.0             5306.67
999    1000     60000.0             2768.70

[1000 rows x 3 columns]

[   1    2    3    4    5    6    7    8    9   10   11   12   13   14
   15   16   17   18   19   20   21   22   23   24   25   26   27   28
   29   30   31   32   33   34   35   36   37   38   39   40   41   42
   43   44   45   46   47   48   49   50   51   52   53   54   55   56
   57   58   59   60   61   62   63   64   65   66   67   68   69   70
   71   72   73   74   75   76   77   78   79   80   81   82   83   84
   85   86   87   88   89   90   91   92   93   94   95   96   97   98
   99  100  101  102  103  104  105  106  107  108  109  110  111  112
  113  114  115  116  117  118  119  120  121  122  123  124  125  126
  127  128  129  130  131  132  133  134  135  136  137  138  139  140
  141  142  143  144  145  146  147  148  149  150  151  152  153  154
  155  156  157  158  159  160  161  162  163  164  165  166  167  168
  169  170  171  172  173  174  175  176  177  178  179  180  181  182
  183  184  185  186  187  188  189  190  191  192  193  194  195  196
  197  198  199  200  201  202  203  204  205  206  207  208  209  210
  211  212  213  214  215  216  217  218  219  220  221  222  223  224
  225  226  227  228  229  230  231  232  233  234  235  236  237  238
  239  240  241  242  243  244  245  246  247  248  249  250  251  252
  253  254  255  256  257  258  259  260  261  262  263  264  265  266
  267  268  269  270  271  272  273  274  275  276  277  278  279  280
  281  282  283  284  285  286  287  288  289  290  291  292  293  294
  295  296  297  298  299  300  301  302  303  304  305  306  307  308
  309  310  311  312  313  314  315  316  317  318  319  320  321  322
  323  324  325  326  327  328  329  330  331  332  333  334  335  336
  337  338  339  340  341  342  343  344  345  346  347  348  349  350
  351  352  353  354  355  356  357  358  359  360  361  362  363  364
  365  366  367  368  369  370  371  372  373  374  375  376  377  378
  379  380  381  382  383  384  385  386  387  388  389  390  391  392
  393  394  395  396  397  398  399  400  401  402  403  404  405  406
  407  408  409  410  411  412  413  414  415  416  417  418  419  420
  421  422  423  424  425  426  427  428  429  430  431  432  433  434
  435  436  437  438  439  440  441  442  443  444  445  446  447  448
  449  450  451  452  453  454  455  456  457  458  459  460  461  462
  463  464  465  466  467  468  469  470  471  472  473  474  475  476
  477  478  479  480  481  482  483  484  485  486  487  488  489  490
  491  492  493  494  495  496  497  498  499  500  501  502  503  504
  505  506  507  508  509  510  511  512  513  514  515  516  517  518
  519  520  521  522  523  524  525  526  527  528  529  530  531  532
  533  534  535  536  537  538  539  540  541  542  543  544  545  546
  547  548  549  550  551  552  553  554  555  556  557  558  559  560
  561  562  563  564  565  566  567  568  569  570  571  572  573  574
  575  576  577  578  579  580  581  582  583  584  585  586  587  588
  589  590  591  592  593  594  595  596  597  598  599  600  601  602
  603  604  605  606  607  608  609  610  611  612  613  614  615  616
  617  618  619  620  621  622  623  624  625  626  627  628  629  630
  631  632  633  634  635  636  637  638  639  640  641  642  643  644
  645  646  647  648  649  650  651  652  653  654  655  656  657  658
  659  660  661  662  663  664  665  666  667  668  669  670  671  672
  673  674  675  676  677  678  679  680  681  682  683  684  685  686
  687  688  689  690  691  692  693  694  695  696  697  698  699  700
  701  702  703  704  705  706  707  708  709  710  711  712  713  714
  715  716  717  718  719  720  721  722  723  724  725  726  727  728
  729  730  731  732  733  734  735  736  737  738  739  740  741  742
  743  744  745  746  747  748  749  750  751  752  753  754  755  756
  757  758  759  760  761  762  763  764  765  766  767  768  769  770
  771  772  773  774  775  776  777  778  779  780  781  782  783  784
  785  786  787  788  789  790  791  792  793  794  795  796  797  798
  799  800  801  802  803  804  805  806  807  808  809  810  811  812
  813  814  815  816  817  818  819  820  821  822  823  824  825  826
  827  828  829  830  831  832  833  834  835  836  837  838  839  840
  841  842  843  844  845  846  847  848  849  850  851  852  853  854
  855  856  857  858  859  860  861  862  863  864  865  866  867  868
  869  870  871  872  873  874  875  876  877  878  879  880  881  882
  883  884  885  886  887  888  889  890  891  892  893  894  895  896
  897  898  899  900  901  902  903  904  905  906  907  908  909  910
  911  912  913  914  915  916  917  918  919  920  921  922  923  924
  925  926  927  928  929  930  931  932  933  934  935  936  937  938
  939  940  941  942  943  944  945  946  947  948  949  950  951  952
  953  954  955  956  957  958  959  960  961  962  963  964  965  966
  967  968  969  970  971  972  973  974  975  976  977  978  979  980
  981  982  983  984  985  986  987  988  989  990  991  992  993  994
  995  996  997  998  999 1000]

In [79]:
SMM = []
SMM_GMean = 0
CPR = 0
months = df_balances["Month"].unique()
principalPayments = df_balances[df_balances['ActualRepayment'] > df_balances['ScheduledRepayment']]
for m in months:

    principalAmount = principalPayments.loc[principalPayments['Month'] == m, 'ActualRepayment'].sum() - principalPayments.loc[principalPayments['Month'] == m, 'ScheduledRepayment'].sum()

    sumBalance = principalPayments.loc[principalPayments['Month'] == m, 'LoanBalanceStart'].sum()
    SMM.append(principalAmount / sumBalance)

tot = 1
for i in SMM:
    tot = tot * (1 + i)
    
SMM_GMean = (tot ** (1/12) ) - 1


CPR = 1 - (1 - SMM_GMean) ** 12


print(CPR)

[0.04614492455020314, 0.04826567215194276, 0.05000611645001241, 0.05255496371206812, 0.05480517652564529, 0.05721248425032019, 0.06095967600397479, 0.06541629440422643, 0.0693417961891057, 0.07241673442646443, 0.07853066364091289, 0.08418400333826571]
0.5336339277490982

In [81]:
loanBalance  = df_balances['LoanBalanceEnd'].sum()
predictedLoss = 0.012 * loanBalance * (1-0.8)
print(predictedLoss)

1373700.9863279995

In [82]:
print(loanBalance)

572375410.9699999

In [87]:
x = py.question_1(df_balances)

       RepaymentID  LoanID  Month  ActualRepayment  LoanAmount  \
0            544.0       1      1          2399.54     52000.0
1           1313.0       1      2          2399.54     52000.0
2           2551.0       1      3          2399.54     52000.0
3           3636.0       1      4          2399.54     52000.0
4           4300.0       1      5          2399.54     52000.0
...            ...     ...    ...              ...         ...
11995       7973.0    1000      8          2768.70     60000.0
11996       8115.0    1000      9          2768.70     60000.0
11997       9867.0    1000     10          2768.70     60000.0
11998      10128.0    1000     11          2768.70     60000.0
11999      11719.0    1000     12          2768.70     60000.0

       ScheduledRepayment  LoanBalanceStart  LoanBalanceEnd  InterestPayment
0                 2399.54          52000.00        50033.79           433.33
1                 2399.54          50033.79        48051.20           416.95
2                 2399.54          48051.20        46052.09           400.43
3                 2399.54          46052.09        44036.32           383.77
4                 2399.54          44036.32        42003.74           366.97
...                   ...               ...             ...              ...
11995             2768.70          43716.52        41312.12           364.30
11996             2768.70          41312.12        38887.69           344.27
11997             2768.70          38887.69        36443.05           324.06
11998             2768.70          36443.05        33978.05           303.69
11999             2768.70          33978.05        31492.50           283.15

[12000 rows x 9 columns]

NameError: name 'default_rate_percent' is not defined

In [92]:
totalLoans = df_balances["LoanID"].nunique()
loanTracker = 0
sumPaid = 0
sumOwed = 0

final_df = df_balances.sort_values(by=['LoanID'], ascending=False)
loans = df_balances["LoanID"].unique()

for l in loans:
    sumPaid = df_balances.loc[df_balances['LoanID'] == l, 'ActualRepayment'].sum()
    sumOwed = df_balances.loc[df_balances['LoanID'] == l, 'ScheduledRepayment'].sum()

    if((sumPaid / (sumOwed * 1.0)) < 0.85):
        loanTracker += 1

    sumPaid = 0
    sumOwed = 0

default_rate_percent = ((loanTracker) / totalLoans * 1.0) * 100
print(default_rate_percent)

1.2